.button {
	cursor: pointer;
	font-weight: 500;
	left: 3px;
	line-height: inherit;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
}

.button--small {
	padding: 10px 20px;
	font-size: 0.875rem;
}

.button--green {
	outline: none;
	background-color: #64d18a;
	border-color: #64d18a;
	color: white;
	transition: all 200ms ease;
}

.button--green:hover {
	background-color: #8bdda8;
	color: white;
}

.products-container {
	display: flex;
	flex-wrap: wrap;
}

.product {
	flex: 0 0 calc(33.33% - 1rem); /* Adjust the width of each product card as needed */
	margin-right: 1rem; /* Adjust the spacing between products */
	margin-bottom: 1rem; /* Adjust the spacing between rows */
}

.transactions-container {
	display: flex;
	flex-direction: column;
}

.transaction-row {
	display: flex;
	justify-content: space-between;
	gap: 1rem; /* Optional: Add spacing between columns */
	border-bottom: 1px solid #ccc; /* Optional: Add a border between transactions */
	padding: 0.5rem 0; /* Optional: Add padding between transactions */
}

.transaction {
	flex: 1; /* Each transaction takes up equal width */
}
